.button {
    width: fit-content;
    padding: 16px;
    color: white;
    background-color: #3B82F6;
    border: 0;
    border-radius: 4px;
    font-family: var(--outfit);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #2563EB;
    cursor: pointer;
}

.button:active {
    background-color: #1D4ED8;
}

.default {

}

.medium {
    
}