.navigation__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    padding: 10px 12px;
    color: white;
    background-color: transparent;
    border: 0;
}

.navigation__item:hover {
    background-color: grey;
    color: black;
    cursor: pointer;
}

.item__img {
    width: 20px;
    height: 20px;
}

.item__content {
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    gap: 16px;
}

.item__name {
    flex: 1;
}