.navigation__item {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--space-3);
  padding: var(--space-3) var(--space-3);
  color: var(--foreground);
  background-color: transparent;
  border: 0;
  text-decoration: none;
  border-radius: var(--radius-sm);
}

.navigation__item:hover {
  background-color: var(--layer-hover);
  cursor: pointer;
}

.navigation__item:active {
  background-color: var(--layer-active);
}

.navigation__item.current:not(.disabled) {
  background-color: var(--selected);
}

.item__img {
    width: var(--space-5);
    height: var(--space-5);
}

.item__content {
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-normal);
    text-align: left;
    gap: var(--space-4);
}

.item__name {
    flex: 1;
}