.app {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.app__navigation {
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
}

.navigation__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 24px 24px 12px;
}

.header__logo {
  width: 32px;
  height: 32px;
}

.navigation__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 12px 12px;
}

.app__content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

header {
  margin: 20px 16px;
}

.header-title {
  display: flex;;
  flex-direction: column;
  text-align: left;
  
  span {
    font-size: 12px;
    line-height: 12px;
  }
}