.view {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.view__title {
    font-size: 256px;
    line-height: 256px;
}

.view__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 24px;

    span {
        font-weight: 700;
    }
}

.view__button {
    width: 230px;
}